@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.genre{
    font: {
        family: 'Handlee', cursive;
        size: 1.1rem;
    }
}


p{
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
}