<div class="row mt-5">
    <div class="pointer col-md-2" *ngFor="let tv of allTv|search:term">
        <div class="content-trending position-relative" [routerLink]="['/tvshowdetails' , tv.id]">
            <div class="vote-average position-absolute text-center p-1">{{tv.vote_average|voteAverage}}</div>
            <img *ngIf="tv.poster_path != null" class="img-fluid" [src]="imgSrc+tv.poster_path" alt="">
            <img *ngIf="tv.poster_path == null" class="img-fluid" src="assets/No-Image.png" alt="">
            <p class="font-p pt-2 text-center">{{tv.name}}</p>
        </div>
    </div>
</div>
