<div class="row mt-5">
    <div class="col-md-4">
        <div class="trending">
            <div class="line w-25"></div>
            <h4 class="py-4">Trending <br /> Movies <br /> to watch Now</h4>
            <p class="ndColor">Most watched movies by days</p>
            <div class="line w-100 mb-media"></div>
        </div>
    </div>
    <div class="col-md-2" *ngFor="let movie of someMovies|search:term">
        <div class="content-trending position-relative pointer" [routerLink]="['/moviedetails' , movie.id]">
            <div class="vote-average p-1 position-absolute text-center">{{movie.vote_average|voteAverage}}</div>
            <img *ngIf="movie.poster_path != null" class="img-fluid" [src]="imgSrc+movie.poster_path" alt="">
            <img *ngIf="movie.poster_path == null" class="img-fluid" src="assets/No-Image.png" alt="">
            <p class="font-p pt-2 text-center">{{movie.title}}</p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="trending">
            <div class="line w-25"></div>
            <h4 class="py-4">Trending <br /> TV <br /> to watch Now</h4>
            <p class="ndColor">Most watched TV by days</p>
            <div class="mb-media line w-100"></div>
        </div>
    </div>
    <div class="col-md-2" *ngFor="let tv of someTv|search:term">
        <div class="content-trending position-relative pointer" [routerLink]="['/tvshowdetails' , tv.id]">
            <div class="vote-average p-1 position-absolute text-center ">{{tv.vote_average|voteAverage}}</div>
            <img *ngIf="tv.poster_path != null" class="img-fluid" [src]="imgSrc+tv.poster_path" alt="">
            <img *ngIf="tv.poster_path == null" class="img-fluid" src="assets/No-Image.png" alt="">
            <p class="font-p pt-2 text-center">{{tv.name}}</p>
        </div>
    </div>
</div>